body {
  background-image: url("../images/InfinityGems.png");
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  margin-top: 30px;
  background-color: skyblue;
  color: white;
}

.target-number {
  font-size: 35px;
  background-color: #f8cf9c;
  border-style: solid;
  border-color: #ddd;
  border-width: 6px;
}

.win-lose-counter {
  background-color: #9ce7f8;
  border-style: solid;
  border-color: #ddd;
  border-width: 6px;
}

.crystal-images {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.total-score {
  color: white;
  background-color: #4aaaa5;
}

.score-number {
  color: white;
  background-color: #4aaaa5;
  font-size: 30px;
}
